
body{
	margin:0;
	padding:0;
}
.osnova{
	position:absolute;
	width:100%;
	height:85px;
	
}
.pod_osnova{
	position:relative;
	top:30px;
	padding:12px;
	border:2px solid black;
	font-size:21px;
	font-family:arial black;
	margin-left:250px;
	width:83px;
	height:10px;
	line-height:15px;
}
#DALTON{
	margin-top:-1px;
	margin-left:-5px;
}


a{
	text-decoration:none;
	color:black;
}
ul{
	list-style:none;
	
}
.menu{
	margin-top:0px;
	margin-left:650px;
	display:flex;
	position:absolute;
}
.menu li a{
	padding-left:30px;
	font-size:9px;
	font-family:verdana;

	

	
}



#img1{
	
	width:20px;
	height:20px;
}

#img2{
	width:20px;
	height:20px;
}



.block #img3{
	margin-top:100px;
	position:absolute;
	width:100%;
	height:500px;
	background-color:green;
}
.pod_block {
	margin-left:500px;
	position:absolute;
	margin-top:120px;
	text-align:center;
	
}
#o_nas{
	position:relative;
	color:white;
	font-family:arial black;
	font-size:60px;
}
#pod_nas{
	position:relative;
	margin-top:-72px;
	color:white;
	font-family:arial black;
	font-size:20px;
}


#znak{
	line-height:70px;
	height:70px;
	position:relative;
	margin-top:60px;
	width:75%;
	margin-left:-135px;
	font-size:30px;
	color:white;
	background:orange;
}
#pod_znak{
	left:-180px;
	top:-50px;
	position:relative;
	color:white;
	font-size:20px;
}

#zakaz{
	width:60%;
	line-height:70px;
	height:70px;
	position:relative;
	top:-230px;
	left:250px;
	font-size:30px;
	color:white;
	background:orange;
}
#pod_zakaz{
	left:177px;
	top:-250px;
	position:relative;
	color:white;
	font-size:20px;
}





.block2{
	top:600px;
	position:absolute;
	width:100%;
	height:200px;
}
.pod_block2{
	text-transform:uppercase;
	position:relative;
	text-align:center;
	margin-top:48px;
}

#pod_met1{
	
	color:black;
	font-size:19px;
	position:relative;
	
}


#pod_met2{
	left:-3px;
	top:-10px;
	opacity:.7;
	color:gray;
	position:relative;
	font-size:11px;
}

#pod_met3{
	opacity:.7;
	color:gray;
	line-height:20px;
	text-transform:capitalize;
	position:relative;
	font-size:12px;
}





#pustota2{
	background-color:#A9A9A9;
	left:819px;
	top:20px;
	width:85PX;
	height:2PX;
	position:absolute;
}

#pustota3{
	background-color:#A9A9A9;
	margin-left:430px;
	margin-top:-28px;
	width:85PX;
	height:2PX;
	position:absolute;
}


#pustota1{
	background-color:orange;
	left:647px;
	top:40px;
	width:40PX;
	height:2PX;
	position:absolute;
}



.osnova_img{
	left:-110px;
	margin-top:74px;
	position:absolute;
	display:flex;
	flex-direction:wrap;
	justify-content:center;
}

.osnova_img img{
	padding:0 15px;

}

#arm1{
	top:-90px;
	left:200px;
	position:relative;
	width:260px;
	height:300px;
}

.block3{
	position:absolute;
	top:200px;
	width:100%;
	height:505px;
}

.pod_block3{
	position:absolute;
}

#nil_olden{
	font-size:20px;
	color:black;
	margin-left:185px;
	top:290px;
	position:relative;
}

#pod_nil_olden{
	color:grey;
	font-size:12px;
	margin-left:175px;
	margin-top:300px;
	position:relative;
}

#pod_nil_olden_pusto{
	left:180px;
	top:6px;
	background-color:gray;
	width:100px;
	height:2px;
	position:relative;
}



#arm2{
	left:180px;
	top:10px;
	position:relative;
	width:20px;
	height:20px;
}

#arm3{
	left:210px;
	top:-30px;
	position:relative;
	width:20px;
	height:20px;
}

#arm4{
	left:240px;
	top:-75px;
	position:relative;
	width:30px;
	height:30px;
}





#rishard{
	font-size:20px;
	color:black;
	margin-left:462px;
	top:-220px;
	position:relative;
}

#pod_rishard{
	font-size:12px;
	color:gray;
	margin-left:481px;
	margin-top:-225px;
	position:relative;
}

#pod_rishard_pusto{
	left:478px;
	top:3px;
	background-color:gray;
	width:100px;
	height:2px;
	position:relative;
}


#arm5{
	left:480px;
	top:10px;
	position:relative;
	width:20px;
	height:20px;
}

#arm6{
	left:510px;
	top:-30px;
	position:relative;
	width:20px;
	height:20px;
}

#arm7{
	left:540px;
	top:-75px;
	position:relative;
	width:30px;
	height:30px;
}





#dzo{
	font-size:20px;
	color:black;
	margin-left:762px;
	top:-220px;
	position:relative;
}

#pod_dzo{
	font-size:12px;
	color:gray;
	margin-left:751px;
	margin-top:-230px;
	position:relative;
}

#pod_dzo_pusto{
	left:758px;
	top:4px;
	background-color:gray;
	width:100px;
	height:2px;
	position:relative;
}


#arm8{
	left:760px;
	top:10px;
	position:relative;
	width:20px;
	height:20px;
}

#arm9{
	left:790px;
	top:-30px;
	position:relative;
	width:20px;
	height:20px;
}

#arm10{
	left:820px;
	top:-75px;
	position:relative;
	width:30px;
	height:30px;
}






#shens{
	font-size:20px;
	color:black;
	margin-left:1030px;
	top:295px;
	position:absolute;
}

#pod_shens{
	font-size:12px;
	color:gray;
	margin-left:1051px;
	margin-top:-185px;
	position:relative;
}

#pod_shens_pusto{
	left:1063px;
	top:4px;
	background-color:gray;
	width:100px;
	height:2px;
	position:relative;
}







#arm11{
	left:1060px;
	top:10px;
	position:relative;
	width:20px;
	height:20px;
}

#arm12{
	left:1090px;
	top:-30px;
	position:relative;
	width:20px;
	height:20px;
}

#arm13{
	left:1120px;
	top:-78px;
	position:relative;
	width:30px;
	height:30px;
}




.block4{
	top:505px;
	background-color:#2b2626;
	position:absolute;
	width:100%;
	height:150px;
}

.text{

	color:white;
	font-family:verdana;
	font-size:16px;
	line-height:166px;
	text-align:center;
}







.block5{
	top:655px;
	width:100%;
	height:260px;
	position:absolute;
}

.pod_block5{
	top:40px;
	text-align:center;
	position:relative;
}

#pod_block5_p1{
	position:relative;
	font-size:18px;
	color:black;
}

#pod_block5_p2{
	color:gray;
	font-size:13px;
	position:relative;
}

#pod_block5_p3_pusto{
	opacity:.4;
	top:-25px;
	left:380px;
	width:110px;
	height:2px;
	background-color:gray;
	position:relative;
}


#pod_block5_p4_pusto{
	opacity:.4;
	top:-44px;
	left:850px;
	width:110px;
	height:2px;
	background-color:gray;
	position:relative;
}


.block6{
	position:absolute;
	width:100%;
	height:400px;
}

.pod_block6{
	margin-left:10px;
	top:30px;
	position:relative;
}

#images{
	width:450px;
	height:352px;
}

.border1{
	text-align:center;
	border:1px solid black;
	top:0px;
	left:450px;
	width:450px;
	height:350px;
	position:absolute;
}

#pod_border1{
	color:black;
	font-size:15px;
	position:relative;
}

#pod_border2{
	line-height:20px;
	color:gray;
	font-size:12px;
	position:relative;
}


#images2{
	top:-100px;
	left:-180px;
	width:40px;
	height:40px;
	position:relative;
}


#pod_border1_pusto{
	left:110px;
	top:-20px;
	opacity:.3;
	background-color:gray;
	width:220px;
	height:2px;
	position:relative;
}



#pod_border4{
	position:relative;
}





#pod_border5{
	color:gray;
	font-size:12px;
	position:relative;
}



#images3{
	top:-100px;
	left:-180px;
	width:60px;
	height:60px;
	position:relative;
}








.border2{
	text-align:center;
	border:1px solid black;
	top:0px;
	left:900px;
	width:420px;
	height:350px;
	position:absolute;
}




#pod_border7{

	color:black;
	font-size:15px;
	position:relative;
}

#pod_border8{
	line-height:20px;
	color:gray;
	font-size:12px;
	position:relative;
}


#images4{
	top:-100px;
	left:-180px;
	width:40px;
	height:40px;
	position:relative;
}


#pod_border2_pusto{
	left:85px;
	top:-20px;
	opacity:.3;
	background-color:gray;
	width:220px;
	height:2px;
	position:relative;
}



#pod_border10{
	position:relative;
}





#pod_border11{
	color:gray;
	font-size:12px;
	position:relative;
}



#images5{
	top:-100px;
	left:-170px;
	width:60px;
	height:60px;
	position:relative;
}





.block7{
left:-10px;
top:354px;
position:absolute;
width:1343px;
height:310px;
}
.pod_block7{
	
	text-transform:uppercase;
	position:relative;
	text-align:center;
	margin-top:48px;
}

#pod_block7_text1{
	color:black;
	font-size:19px;
	position:relative;
	
}


#pod_block7_text2{
	left:-3px;
	top:-10px;
	opacity:.7;
	color:gray;
	position:relative;
	font-size:11px;
}

#pod_block_pustota1{
	background-color:orange;
	left:635px;
	top:50px;
	width:55PX;
	height:2PX;
	position:absolute;
	
}

#kartinka1{
	position:relative;
	top:80px;
	width:50px;
	height:50px;
	border-radius:100%;
}



#pod_kartinka{
	color:gray;
	font-size:13px;
	position:relative;
	top:70px;
}


#pod_block_pustota2{
	background-color:#A9A9A9;
	left:819px;
	top:20px;
	width:85PX;
	height:2PX;
	position:absolute;
}

#pod_block_pustota3{
	background-color:#A9A9A9;
	margin-left:430px;
	margin-top:-28px;
	width:85PX;
	height:2PX;
	position:absolute;
}


#pod_block7_text3{
	line-height:30px;
	font-family:arial black;
	font-size:12px;
	color:gray;
	display:flex;
	left:210px;
	top:70px;
	position:absolute;
}





.block8{
	top:310px;
	background-color:#201E1E;
	width:100%;
	height:440px;
	position:absolute;
}


.pod_block8{

	position:absolute;
}

#DALTON2{
	top:50px;
	position:relative;
	left:60%;
	padding:4px;
	font-family:arial black;
	width:70px;
	border:2px solid white;
	color:white;
}


#pod_DALTON1{
	line-height:25px;
	top:50px;
	font-family:;
	color:gray;
	left:60%;
	position:relative;
}


#pod_DALTON2{
	font-family:arial black;
	color:white;
	top:50px;
	left:60%;
	position:relative;
}


#pod_DALTON_pusto3{
	top:50px;
	left:60%;
	background-color:gray;
	width:50px;
	height:2px;
	position:relative;
}


#inst{
	top:280px;
	left:205px;
	padding:6px;
	position:relative;
	border:1px solid gray;
	width:20px;
	height:20px;
}




#face{
	top:225px;
	left:165px;
	padding:6px;
	position:relative;
	border:1px solid gray;
	width:20px;
	height:20px;
}




#vk{
	top:170px;
	left:245px;
	padding:6px;
	position:relative;
	border:1px solid gray;
	width:20px;
	height:20px;
}



#skaip{
	top:115px;
	left:285px;
	padding:6px;
	position:relative;
	border:1px solid gray;
	width:20px;
	height:20px;
}




#need{
	font-family:arial black;
	top:50px;
	color:white;
	left:38%;
	position:absolute;
}

#pod_need{
	
	top:80px;
	color:gray;
	line-height:40px;
	left:38%;
	position:absolute;
}

#recent{
	font-family:arial black;
	top:50px;
	color:white;
	left:55%;
	position:absolute;
}



#pod_recent{
	top:80px;
	color:gray;
	line-height:40px;
	left:55%;
	position:absolute;
}
#DALTON3{
	width:250px;
	border-bottom:2px solid gray;
	font-family:arial black;
	top:45px;
	position:absolute;
	color:white;
	left:1000px;
}
#kasmet1{
	top:100px;
	left:1000px;
	position:absolute;
	width:70px;
	height:70px;
}

#kasmet2{
	top:100px;
	left:1080px;
	position:absolute;
	width:70px;
	height:70px;
}

#kasmet3{
	top:100px;
	left:1160px;
	position:absolute;
	width:70px;
	height:70px;
}

#kasmet4{
	top:180px;
	left:1000px;
	position:absolute;
	width:70px;
	height:70px;	
}


#kasmet5{
	top:260px;
	left:1000px;
	position:absolute;
	width:70px;
	height:70px;	
}



#kasmet6{
	top:180px;
	left:1080px;
	position:absolute;
	width:70px;
	height:70px;
}

#kasmet7{
	top:180px;
	left:1160px;
	position:absolute;
	width:70px;
	height:70px;	
}


#kasmet8{
	top:260px;
	left:1080px;
	position:absolute;
	width:70px;
	height:70px;	
}


#kasmet9{
	top:260px;
	left:1160px;
	position:absolute;
	width:70px;
	height:70px;
}


#kasmet10{
	top:100px;
	left:1000px;
	position:absolute;
	width:70px;
	height:70px;
}

#kasmet11{
	top:100px;
	left:1000px;
	position:absolute;
	width:70px;
	height:70px;	
}


#kasmet12{
	top:100px;
	left:1000px;
	position:absolute;
	width:70px;
	height:70px;	
}

.footer{
	padding-top:15px;
	border-top:2px solid gray;
	top:400px;
	position:relative;
	color:gray;
	text-align:center;
}
